node_modules/
vendor/
public/
!Resources/Public
var/
bin/
.idea
.phpunit.cache
.php-cs-fixer.cache
php-cs-fixer.xml
phpstan.xml
config/sites/
config/system/settings.php
.Build
.vscode/
Tests/Playwright/test-results/
Tests/Playwright/playwright-report/
